/* INDEX PAGE AND GENERAL */

*{
    margin:0;
    padding:0;
    text-decoration:none;
}

body{
    background: url(https://media.istockphoto.com/id/512170222/photo/fans-rock-out.webp?b=1&s=170667a&w=0&k=20&c=pcvtMX5pAymcsLoCGPlt518eMSgQwKllUhAfnVOZp4E=) no-repeat;
    background-size: cover;
    color:whitesmoke;
}

nav a{
    color:rgb(219, 216, 216);
}

nav a:hover{
    color:whitesmoke;
}

header{
    padding:3%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#logo-box{
    display:flex;
    align-items: center;
    gap:2vh;
    font-family: 'arial';
    font-size:2vh;
}

#logo{
    font-size:8vh;
}

nav{
    display:flex;
    justify-content: flex-end;
    gap:3vh;
    font-family: 'Inclusive Sans', sans-serif;
    font-size:3vh;
}

#stripe{
    background-color: rgba(178, 34, 34, 0.384);
    width: 100%;
    position: absolute;
    height: 6vh;
    z-index: -1;
    margin-left: -3%;
}

#index-main{
    padding:11% 60% 2% 2%;
    font-size:2.7vh;
    font-family: tahoma;
}

#index-main p{
    margin-top:2%;
}

footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 3.5% 1% 1% 1%;
    gap:1vh;
    font-size:1.5vh;
    font-family: Verdana;
}

footer i:hover{
    color:white;
}

footer a{
    color:firebrick;
}

#social-media{
    display:flex;
    gap:2vh;
}

#social-media a{
    font-size:3vh;
    color:rgba(245, 245, 245, 0.5);
}

/* ------------------------------------------------ */
/* ------------------ ABOUT PAGE ------------------ */
/* ------------------------------------------------ */

#about-main{
    padding:5vh;
}

.about-box{
    display:flex;
    align-items: center;
    font-family: tahoma;
    padding:2vh 5vh;
}

.about-box h3{
    font-size: 4vh;
}

.about-box img{
    width:60%;
    filter: grayscale(50%)
}

.about-box img:hover{
    opacity: 80%;
}

.about-box .text-box{
    display:flex;
    flex-direction: column;
    gap:2vh;
    padding-left: 3vh;
}

.about-box .text-box-2{
    padding-right: 3vh;
}

/* ------------------------------------------------ */
/* ------------------ LINEUP PAGE ----------------- */
/* ------------------------------------------------ */

#search-box{
    display: flex;
    padding:2vh;
    background-color:rgba(12, 207, 207, 0.438);
    align-items: center;
    gap: 1%;
}

#radio-selection{
    display:flex;
    gap:2vh;
}

#container-bands{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    background-color:rgba(206, 206, 206, 0.493);
    padding: 3% 0 3% 8%;
}

.band-card{
    display:flex;
    flex-direction: column;
    align-items:center;
    font-family:tahoma;
    height:8%;
    width:22%;
    background-color:rgb(109, 109, 109);
    font-size:2vh;
}

.band-card img{
    width:95%;
    height:50%;
    padding:5% 3% 3% 3%;
}

.band-card-text{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2vh;
    margin-top:-5%;
    padding:2%;
}