body{
    background: url(https://media.istockphoto.com/id/512170222/photo/fans-rock-out.webp?b=1&s=170667a&w=0&k=20&c=pcvtMX5pAymcsLoCGPlt518eMSgQwKllUhAfnVOZp4E=) no-repeat;
    background-size: cover;

    color:white;
}

#logo-box{
    display:flex;
    align-items: center;
    gap:2vh;

    font-family: arial;
    font-size:2vh;
}

#logo{
    font-size:8vh;
}

nav{
    display:flex;
    justify-content: flex-end;
    gap:3vh;
}

main{
    padding-top:50vh;
    padding-left:45%;
}

footer{
    display:flex;
    flex-direction:column;
    background-color:rgba(255, 0, 0, 0.452);
    width:300vh;
    margin:2vh 0;
}

#social-media{
    display:flex;
    gap:1vh;
}